


<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Liste des produit</h3>
    </div>
    <div class="panel-body">

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>code</th>
            <th>nom</th>
            <th>prixUnitaire</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= 'let prod of data'>
            <td>{{prod.code}}</td>
            <td>{{prod.nom}}</td>
            <td>{{prod.prixUnitaire}}</td>
          </tr>
        </tbody>
      </table>

    </div>
</div>

<ul>
  <li *ngFor="let p of data">{{p.code}}-{{p.nom}}-{{p.prixUnitaire}}</li>
</ul>
